<div id="container">
  <div *ngIf="!this.media.isActive('xs'); else mobileView">
    <div class="landing">
      <img src="../../../../../../assets/background-landing.png" alt="Meloflix">
    </div>
  </div>
  <div id="film-list">
    <app-film-list [films]="data | async"></app-film-list>
  </div>
  <div id="series-list">
    <app-series-list [series]="series | async"></app-series-list>
  </div>
</div>


<ng-template #mobileView>
  <div class="landing">
    <img src="assets/mobile-background.png" alt="Meloflix">
  </div>
</ng-template>
