mat-card {
  width: 200px;
}

#vote p {
  background-color: aliceblue;
  color: black;
  border-radius: 50%;
  padding: 5px;
  font-family: Tahoma;
}

#year {
  margin-top: 0;
  padding-bottom: 2%;
}
