mat-card {
  width: 200px;
}

img.mat-card-image {
  margin-bottom: 0;
}

mat-card-content {
  margin-top: 0;
  height: 30px;
}

#vote {
  position: absolute;
  top: 8px;
  right: 40px;
}

#vote p {
  background-color: aliceblue;
  color: black;
  border-radius: 50%;
  padding: 10px;
  font-family: Tahoma;
}

#year {
  margin-top: 0;
  padding-bottom: 2%;
}

#title {
  margin-bottom: 4%;
}
